.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group sampleグループ
    %ul.main-header__left-box__member-list
      %li.main-header__left-box__member-list__member Member umeda
  =link_to "" do
    %div.main-header__edit-btn Edit
