.messages
  .message
    .message__upper-info
      %p.message__upper-info__talker ryousuke maehira
      %p.message__upper-info__date  2019/10/02(Mon) 06:27:07
    %p.message__text おはよう

  .message
    .message__upper-info
      .message__upper-info__talker ryousuke maehira
      .message__upper-info__date  2019/10/02(Mon) 06:27:07
    %p.message__text こんにちわ

  .message
    .message__upper-info
      .message__upper-info__talker ryousuke maehira
      .message__upper-info__date  2019/10/02(Mon) 06:27:07
    %p.message__text こんばんわ

  .message
    .message__upper-info
      .message__upper-info__talker ryousuke maehira
      .message__upper-info__date  2019/10/02(Mon) 06:27:07
    %p.message__text おやすみ
