.side-header
  .side-header__box
    %p.side-header__box__user-name hayashimasahiro
    %ul.side-header__box__menu
      =link_to "" do
        %li.side-header__box__menu__edit-user
          =fa_icon "edit"
      =link_to "" do
        %li.side-header__box__menu__new-group
          =fa_icon "cog"
