.groups
  = link_to  do
    .group
      %p.group__group-name group--name1
      %p.group__latest-message latest-message1
  = link_to  do
    .group
      %p.group__group-name group--name2
      %p.group__latest-message latest-message2
  = link_to  do
    .group
      %p.group__group-name group--name3
      %p.group__latest-message latest-message3
