* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0 !important
}

html,body {
  height: 100vh;
  width: 100vw;
  overflow : scroll;
}

a {
  text-decoration: none;
}

.flash-box {
  width: 100vw;
}

.wrapper  {
  height: 100vh;
  width: 100vw;
  .chat-side {
    height: calc(100vh - 190px);
    width: 300px;
    float: left;
  }
  .chat-main {
  height: calc(100vh );
  width: calc(100vw - 300px);
  float: right;
  }
}




