.groups {
  height: calc( 100vh - 100px);
  background-color: $side__groups__background-color;
  padding: 0 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  .group {
    box-sizing: border-box;
    color: $side__font-color;

    padding: 20px 0 40px;
    &__group-name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__latest-message {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
