.side-header
  .side-header__box
    %p.side-header__box__user-name
      =current_user.name
    %ul.side-header__box__menu
      =link_to new_group_path do
        %li.side-header__box__menu__new-group
          =fa_icon "edit"
      =link_to edit_user_path(current_user) do
        %li.side-header__box__menu__edit-user
          =fa_icon "cog"
