$side__font-color:                            #ffffff;
$side__header__background-color:              #253141;
$side__groups__background-color:              #2f3e51;

$main__header__member-list-color:             #999999;
$main__header__border-bottom-color:           #eeeeee;
$main__message-color:                         #434A54;
$main__message__date-color:                   #999999;
$main__form--background-color:                #dddddd;
$main__form__input-box--background-color:     #ffffff;

$btn-color:                                   #38aef0;
$main__form__btn--font-color:                 #ffffff;
