.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: $group__new__edit__background-color;
  border: 1px solid $group__new__edit__border-color;
  border-radius: 5px;
  box-sizing: border-box;
  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  // 三段の列
  &__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    // 左側全て適用
    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    // 左側のラベル対応
    &__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
      font-size: 14px;
    }
    // 右側1、2段目適用する大枠
    &--right {
      float: right;
      width: 70%;
      // 1段目のグループ名入力欄
      &__input {
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
      }
      // 2段目の入力欄(検索窓)を囲う要素
      &--search{
        &:after {
        content: "";
        clear: both;
        display: block;
        }
        // 検索窓の入力欄
        &__input {
          float: left;
          width: 100%;
          line-height: 30px;
          padding: 10px 15px;
          box-sizing: border-box;
        }
      }
      //  右側3段目
      &--add--member {
        float: right;
        width: 70%;
      }
    }
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: $group__form__btn--font-color;
    background-color: $btn-color;
    border: 0;
  }
}


// 2段目の、検索結果メンバー(「追加」メンバー)、3段目の現メンバー(「削除」メンバー表示)
.chat-group-user {
  border-bottom: 1px solid #dddddd;
  padding: 0 15px;
  line-height:  50px;
  // 名前とボタンを並列関係する
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    font-size: 14px;
    float: left;
  }
  &__btn--add {
    font-size: 13px;
    color: #38aef0;
    float: right;
  }
  &__btn--remove {
    font-size: 13px;
    color: #f05050;
    float: right;
  }
}



