.main-header {
  height: 100px;
  border-bottom: 0.5px solid $main__header__border-bottom-color;
  padding: 0 40px;
  display: flex;
  .main-header__left-box {
    height: 100px;
    .main-header__left-box__current-group {
      font-size: 20px;
      padding-top: 35px;
      margin-bottom: 15px;
    }
    .main-header__left-box__member-list__member {
      font-size: 12px;
      color: $main__header__member-list-color;
    }
  }
  .main-header__edit-btn {
    position: absolute;
    right: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px $btn-color;
    color: $btn-color;
    margin-top: 30px;
  }
}

