.field {
  margin-bottom: 10px;

  &-label {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;

    i {
      font-size: 11px;
    }
  }

  &-input {
    input {
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
  }
}
