.messages
  .message
    .message__upper-info
      %p.message__upper-info__talker ryousuke maehira
      %p.message__upper-info__date  2019/10/02(Mon) 06:27:07
    %p.message__text eachメソッドでメッセージを呼び出す


