.messages
  .message
    .message__upper-info
      - messages.each do |message|
        %p.message__upper-info__talker
          = message.user.name
        %p.message__upper-info__date
          = message.created_at
      %p.message__text



