.form
  %form#new_message
    .input-box
      %input.input-box__text{ type: "text", placeholder: "type a message" }
      %label.input-box__image
        %span.fa.fa-image
        %input#message_image.input-box__image__file{ type: "file" }
    %input.submit_btn{ value: "Send" ,type: "submit" }


